[
 {:db/id #db/id[:db.part/user -1] :deck/name "Japanese words" :deck/nrOfFields 3}
 {:db/id #db/id[:db.part/user -2] :deck/card #db/id[:db.part/user -1]}
 {:db/id #db/id[:db.part/user -2] :card/field "光"}
 {:db/id #db/id[:db.part/user -2] :card/field "ひかり"}
 {:db/id #db/id[:db.part/user -2] :card/field "Light"}
]
