[{
  :db/id #db/id[:db.part/db]
  :db/ident :deck/name
  :db/valueType :db.type/string
  :db/unique :db.unique/value
  :db/cardinality :db.cardinality/one
  :db/doc "A unique deck name (no upsert)"
  :db.install/_attribute :db.part/db
  }
 {
  :db/id #db/id[:db.part/db]
  :db/ident :deck/nrOfFields
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "The number of fields each card in the deck has"
  :db.install/_attribute :db.part/db
  }
 {
  :db/id #db/id[:db.part/db]
  :db/ident :deck/card
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/isComponent true
  :db.install/_attribute :db.part/db
  }
 {
  :db/id #db/id[:db.part/db]
  :db/ident :card/field
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/many
  :db/isComponent true
  :db.install/_attribute :db.part/db
  }
 ]
